/*button gradient*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
a:link {
    text-decoration: none;
    outline: none;
    transition: all 0.25s;
}

a:visited,
a:link:hover,
a:visited:hover {
    text-decoration: none;
}


/*
body {
  background: #eee none repeat scroll top left;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: normal;
}

.container {
  background: #fff;
  max-width: 768px;
  margin: 4% auto;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  overflow: hidden;
}

.container h3 {
  background: #fff;
  position: relative;
  overflow: hidden;
  margin: 0 0 20px 0;
  font-size: 1em;
  text-align: center;
  font-weight: 700;
  vertical-align: middle;
  padding: 0 12px 20px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}*/


/* Tombol DEMO Gradient */

#dmgradient {
    margin: 5px auto;
    text-align: center;
}

a.dmg {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    background: #f24a4a;
    background: linear-gradient(-50deg, #ee5952, #ea3a7e, #20aadb, #23e0b3);
    background-size: 320% 200%;
    animation: Gradient 15s ease infinite;
    margin: 5px;
    color: #fff;
    box-shadow: inset 0 0 0 #202d3a;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.5s;
}

a.dmg:hover {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    background: #f24a4a;
    background: linear-gradient(-50deg, #ee5952, #ea3a7e, #20aadb, #23e0b3);
    background-size: 320% 200%;
    animation: Gradient 15s ease infinite;
    margin: 5px;
    color: #fff;
    box-shadow: inset 0 0 0 #202d3a;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.5s;
}

@keyframes Gradient {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}